@import '../../assets/extensions.css';
@import 'libs/extCommons/common.css';

#aboutExtensionModal img {
  max-width: 100%;
}

#aboutExtensionModal h1 {
  font-size: 22px;
}

#aboutExtensionModal h2 {
  font-size: 20px;
}

#aboutExtensionModal h3 {
  font-size: 18px;
}

#aboutExtensionModal .modal-body {
  max-height: 500px;
  overflow: auto;
}
html, body {
  overflow: auto;
}